* {
    margin: 0;
    padding: 0;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.top-wrapper {
    flex-grow: 1;
}

body {
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    margin: 0 auto;
    height: 100%;
}

.top {
    min-height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.top__box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 44px;
}

.first__heading {
    width: 510px;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-bottom: 32px;
}

.first-block-text {
    padding-top: 115px;
    padding-bottom: 120px;
    flex-grow: 1;
    background-image: url(../img/top_background.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 44%;
}

.text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
}

.text__project {
    width: 75%;
    margin: 32px auto 64px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #222222;
}

.project {
    margin-bottom: 112px;
}

.project__item {
    position: relative;
    flex-grow: 1;
}

.project__parent {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.project__item_margin {
    margin-right: 32px;
}

.project__img {
    width: 100%;
}

.project__text {
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 64px;
    right: 64px;
}

.project__text_secondary {
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 32px;
    left: 32px;
}

.top__text {
    width: 425px;
    left: 114px;
    top: 369px;
}

.top__button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
}

.bottom__button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    text-decoration: none;
    padding: 15px 80px 15px 80px;
    display: inline-block;
    white-space: nowrap;
}

.what-we-do {
    padding-top: 64px;
    display: flex;
}

.second-heading {
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}

/* ------- cards ----------------------*/

.card-box {
    display: flex;
    justify-content: space-around;
    padding-top: 64px;
    padding-bottom: 64px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}

.card__link {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
}

.card__img {
    align-self: center;
}

.heading-mini {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    margin-top: 51px;
    margin-bottom: 14px;
}

/* ____________________________ */

.bottom-wrapper {
    background: #316099;
}

.bottom__offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 91px;
    margin-bottom: 96px;
}

.footer__copyright {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
    margin-bottom: 64px;
}

.bottom__heading {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    width: 60%;
    margin-bottom: 32px;
}

.text__bottom {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
    max-width: 497px;
    list-style: none;
}

.footer__info {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    margin-top: 64px;
    margin-bottom: 64px;
}

.footer__text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.footer__list {
    display: flex;
    flex-grow: 1;
    flex-basis: 33.3333%;
    list-style-type: none;
    margin-right: 32px;
}

.footer__list:first-child::before {
    content: 'A. ';
    display: block;
    margin-right: 16px;
}

.footer__list:nth-child(2):before {
    content: 'T. ';
    display: block;
    margin-right: 16px;
}

.footer__list:last-child::before {
    content: 'E. ';
    display: block;
    margin-right: 16px;
}

.footer__info a {
    text-decoration: none;
    color: #FFFFFF;
}

.bottom__line {
    opacity: 0.4;
    border: 1px solid #FFFFFF;
}

.bottom__offer__text {
    display: flex;
    flex-direction: column;
}

/* main page tablet version */

@media (max-width:1024px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }
    .first-block-text {
        background-position: right 280px;
    }
    .card-box {
        flex-direction: column;
        align-items: center;
    }
    .card {
        margin-bottom: 32px;
    }
    .project {
        margin-bottom: 109px;
    }
    .footer__info {
        flex-direction: column;
    }
    .footer__list {
        margin-bottom: 25px;
    }
    .bottom__button {
        padding: 8px 40px 8px 40px;
        display: inline-block;
    }
    .bottom__offer {
        margin-left: 92px;
        margin-right: 51px;
        margin-top: 47px;
        margin-bottom: 64px;
    }
    .bottom__heading {
        width: 80%;
    }
    .text__bottom {
        max-width: 80%;
    }
    .footer__info {
        margin-bottom: 32px;
    }
    .footer {
        margin-left: 92px;
    }
}

/* main page mobile version */

@media(max-width: 667px) {
    .header {
        padding-top: 24px;
    }
    .top {
        min-height: 376px;
        padding-bottom: 41px;
        box-sizing: border-box;
    }
    .first__heading {
        font-size: 32px;
        line-height: 37px;
        text-align: center;
        margin-bottom: 12px;
        width: 100%;
    }
    .top__text {
        width: 100%;
        text-align: center;
    }
    .first-block-text {
        padding-top: 36px;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
    }
    .top__button {
        font-size: 12px;
        line-height: 26px;
        padding: 0px 8px;
        margin-top: 32px;
    }
    .what-we-do {
        padding-top: 48px;
    }
    .second-heading {
        font-size: 24px;
        line-height: 28px;
    }
    .card-box {
        flex-direction: column;
        align-items: center;
        padding-top: 32px;
    }
    .card {
        margin-bottom: 32px;
        width: 100%;
    }
    .project {
        margin-bottom: 64px;
    }
    .text__project {
        width: 100%;
    }
    .project__text {
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        right: 16px;
    }
    .project__text_secondary {
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        left: 16px;
    }
    .project__parent {
        flex-direction: column;
        margin-top: 16px;
    }
    .project__item_margin {
        margin-right: 0;
        margin-bottom: 16px;
    }
    .bottom__offer {
        display: flex;
        flex-direction: column;
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 18px;
        margin-bottom: 41px;
    }
    .bottom__heading {
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        width: 80%;
        margin-bottom: 32px;
    }
    .bottom__offer__text {
        align-items: center;
    }
    .text__bottom {
        text-align: center;
        margin-bottom: 40px;
        min-width: 100%;
    }
    .bottom__button {
        padding: 6px 40px 6px 40px;
    }
    .footer {
        margin-left: 0;
    }
    .footer__info {
        margin-top: 32px;
        margin-bottom: 0;
    }
    .footer__copyright {
        text-align: center;
        margin-bottom: 32px;
    }
    .footer__list:first-child::before {
        content: '1. ';
        display: block;
        margin-right: 16px;
    }
    .footer__list:first-child {
        font-size: 16px;
        line-height: 19px;
    }
    .footer__list:nth-child(2):before {
        content: '2. ';
        display: block;
        margin-right: 16px;
    }
    .footer__list:last-child::before {
        content: '3. ';
        display: block;
        margin-right: 16px;
    }
}

/* -------------------------------------------------------- */

/* ----------- Contacts page styles ------------------------*/

.top_box_contacts {
    background: #FFFFFF;
    ;
}

.contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/cont_page_img/contacts_top_background.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 32px;
    margin-bottom: 64px;
}

.contact-us__heading {
    font-weight: 500;
    font-size: 44px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding-bottom: 16px;
    padding-top: 32px;
}

.contact-us__text {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 32px;
    width: 70%;
    align-self: center;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
    margin-right: 60px;
    margin-left: 60px;
    box-sizing: border-box;
}

.service {
    display: flex;
    flex-grow: 1;
    flex-basis: 30%;
    flex-direction: column;
    box-sizing: border-box;
    padding: 56px 0 0 0;
}

.service__image {
    align-self: start;
}

.service__contacts {
    margin-top: 56px;
}

.service__content {
    margin-bottom: 40px;
}

.service__content li {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.service__phones li::before {
    content: url(../img/cont_page_img/phone_sign.svg);
    display: block;
    margin-right: 19px;
}

.service__web li:first-child::before {
    content: url(../img/cont_page_img/web_sign.svg);
    display: block;
    margin-right: 19px;
}

.service__web li:last-child::before {
    content: url(../img/cont_page_img/mail_sign.svg);
    display: block;
    margin-right: 19px;
}

.service__list a {
    text-decoration: none;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}

.form {
    display: flex;
    flex-grow: 1;
    width: 540px;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding: 56px;
}

.map {
    width: 1050px;
    margin: 0 auto;
    margin-bottom: 112px;
}

.map__size {
    height: 480px;
}

iframe {
    width: 100%;
}

/* form decoration*/

.contacts__tinyheader {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    padding-bottom: 24px;
}

.service__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.6;
    width: 75%;
}

.form__text {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.8;
}

.input {
    opacity: 0.4;
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    height: 72px;
    margin-bottom: 32px;
}

.input:last-child {
    margin-bottom: 0;
}

.text__window {
    width: 100%;
    height: 144px;
    vertical-align: top;
}

.input::placeholder {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.2;
    padding: 20px;
}

.subbutton {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-top: 23px;
    padding-bottom: 23px;
    width: 100%;
    height: 72px;
    margin-top: 72px;
}

/* contacts page tablet version*/

@media (max-width:1024px) {
    .container {
        padding-left: 64px;
        padding-right: 64px;
    }
    .content {
        flex-direction: column;
        margin: 0;
    }
    .service {
        width: 45%;
        align-self: center;
        margin-bottom: 32px;
    }
    .form {
        align-self: center;
        width: 520px;
        margin-bottom: 64px;
    }
    .subbutton {
        height: 70px;
        margin-top: 70px;
    }
    .contacts__tinyheader {
        width: 20%;
    }
    .map {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 64px;
    }
    .map__size {
        height: 392px;
    }
    .service__text {
        width: 100%;
    }
}

/* contacts page mobile version*/

@media(max-width: 667px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }
    .contact-us__heading {
        font-size: 24px;
        line-height: 28px;
    }
    .contact-us__text {
        font-size: 16px;
        line-height: 30px;
        width: 100%;
    }
    .contacts__tinyheader {
        width: 60%;
    }
    .service {
        width: 360px;
        padding-left: 32px;
    }
    .service__text {
        width: 90%;
    }
    .service__content {
        margin-bottom: 0;
    }
    .form {
        width: 343px;
        padding: 35px;
        margin-bottom: 32px;
    }
    .mobile__text {
        font-size: 16px;
        line-height: 30px;
        width: 100%;
    }
    .form__text {
        font-size: 14px;
    }
    .input {
        margin-bottom: 20px;
    }
    .input::placeholder {
        font-size: 14px;
    }
    .subbutton {
        height: 46px;
        padding-top: 0;
        padding-bottom: 0;
        width: 100%;
        margin-top: 46px;
    }
    .map {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 32px;
    }
    .map__size {
        height: 349px;
    }
    .contact-us {
        margin-bottom: 32px;
    }
}