body {
    font-family: sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    margin: 0 auto;
    height: 100%;
}

.top {
    height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.top__box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 42px;
}

.first__heading {
    width: 510px;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-bottom: 32px;
}

.first-block-text {
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(../img/top_background.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
}

.text__project {
    width: 75%;
    margin: 32px auto 64px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #222222;
}

.project {}

.project__item {
    position: relative;
    flex-grow: 1;
}

.project__parent {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.project__item_margin {
    margin-right: 32px;
}

.project__img {
    width: 100%;
}

.project__text {
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 64px;
    right: 64px;
}

.project__text_secondary {
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 32px;
    left: 32px;
}

.top__text {
    width: 425px;
    height: 82px;
    left: 114px;
    top: 369px;
}

.top__button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
}

.bottom__button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    text-decoration: none;
    padding: 15px 80px 15px 80px;
    display: inline-block;
    margin-top: 165px;
    white-space: nowrap;
}

.what-we-do {
    padding-top: 64px;
    display: flex;
}

.second-heading {
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}

/* карточка ______________________________*/

.card-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 64px;
    padding-bottom: 64px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}

.card__link {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
}

.card__img {
    align-self: center;
}

.heading-mini {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    margin-top: 51px;
    margin-bottom: 14px;
}

/* ____________________________ */

.bottom {
    background: #316099;
    margin-top: 112px;
}

.bottom__offer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-bottom: 96px;
    border-bottom: 1px solid #FFFFFF;
    --border-opacity: 0.4;
}

.footer__copyright {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
    margin-bottom: 64px;
}

.bottom__heading {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-top: 91px;
    width: 60%;
    margin-bottom: 32px;
}

.text__bottom {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
    max-width: 497px;
}

.footer__info {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 64px;
    margin-bottom: 64px;
    margin-bottom: 64px;
    list-style: none;
}

.footer__text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.list {
    display: flex;
}

.list__space {
    margin-left: 19px;
    max-width: 317px;
}

.footer__info a {
    text-decoration: none;
    color: #FFFFFF;
}

/* -------------------------------------------------------- */

.contact-us {
    background-color: rgb(32, 152, 207);
}

.contact-us p, .contact-us h1 {
    color: white;
    text-align: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: rgb(243, 237, 237);
    justify-content: space-between;
}

.service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 40%;
    min-height: 30%;
    padding: 5% 4% 4% 2%;
    margin: 3% -5% 3% 10%;
    border-radius: 10px;
    background-color: #fff;
}

.service-content {
    margin: auto 2%;
}

.service-content li {
    margin: auto 2%;
}

.long-email {
    word-wrap: break-word;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 30%;
    min-height: 30%;
    padding: 5% 4% 4% 2%;
    margin: 3% 10% 3% 3%;
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 15px 5px #CBD5FF;
    box-shadow: 5px 5px 15px 5px #CBD5FF;
}

.map {
    margin: 1% 0;
    display: flex;
    justify-content: center;
}

iframe {
    width: 100%;
}

/* form decoration*/

.tinyheader {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.form-paragraph {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

.input {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
    min-width: 90%;
    max-width: 100%;
    min-height: 90%;
}

.subbutton {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    min-width: 90%;
    max-width: 100%;
    min-height: 95%;
}

.image-wrapper {
    min-width: 40%;
    margin: 5% 5% 5% 5%;
}

.image {
    max-width: 100%;
}