body {
    font-family: sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.first-block-outside {
    border: 3px solid #c2002a;
    margin-bottom: 2%;
}

.big-content-block {
    border: 3px solid #a914d5;
    margin: 0px 3%;
}

.header {
    border: 3px solid #18683f;
    margin-top: 30px;
    margin-left: 0.05%;
    margin-right: 0.05%;
}

.header-nav {
    padding: 15px;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.header-menu a:hover {
    color: blue;
}

.header-menu li {
    list-style: none;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
    padding: 10px 0px 10px 25px;
}

.header-menu li:first-child {
    background-image: url("../img/nav_menu.png");
}

.header-menu li:last-child {
    background-image: url("../img/nav_phone.jpg");
}

.first-heading {
    box-sizing: border-box;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    font-weight: 200;
    max-width: 510px;
}

.first-block-text {
    margin-top: 40px;
    margin-bottom: 10%;
    border: 3px solid #00bfff;
    width: 50%;
}

.first-block-text p {
    padding-bottom: 5%;
    padding-right: 5%;
    max-width: 425px;
}

.heading-wrapper {
    padding: 2% 5%;
}

.second-heading {
    font-weight: 200;
    text-align: center;
}

.what-we-do {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 3px solid #18683f;
    margin: 2% 0;
    background-color: #e9e9e9;
}

.small-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    max-width: 300px;
    min-height: 30%;
    padding: 5% 4% 4% 2%;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: #fff;
    border-radius: 10px;
}

.image-wrapper {
    min-width: 40%;
    margin: 5% 5% 5% 5%;
}

.image {
    max-width: 100%;
}

.projects {
    border: 3px solid #92000a;
    margin-top: 1%;
}

.project-paragraph {
    margin: -1% 5% 3% 5%;
    text-align: center;
}

.installation {
    margin-top: 2%;
    border-color: white;
    min-height: 320px;
    border-radius: 10px;
    background-color: #00c4ff;
}

.two-elements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2% 3%;
    display: flex;
    min-height: 300px;
    border: none;
}

.two-elements-content {
    box-sizing: border-box;
    border: 1px solid #000;
    width: 49%;
    background-image: url("../img/cat4.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.bottom-wrapper {
    display: flex;
    flex-direction: column;
    background-color: rgb(66, 66, 139);
    border: 3px solid #c2002a;
    margin-bottom: 2%;
}

.bottom-offer {
    display: flex;
    justify-content: space-between;
    border: 3px solid rgb(147, 182, 123);
    margin: 0px 3%;
    /* не стал ставить ширину 495px по заданию. так как выглядит не очень*/
}

.offer-text {
    margin-top: 40px;
    margin-bottom: 10%;
    border: 3px solid #ff7be4;
    max-width: 35%;
}

.offer-heading {
    margin: 5% 10% 5% 0;
    text-align: left;
    color: #e9e9e9;
    max-width: 340px;
}

.offer-text p {
    padding-bottom: 5%;
    padding-right: 5%;
    color: darkgray;
}

.chat {
    margin-top: 40px;
    width: 10%;
    max-height: 40px;
    background-color: rgb(35, 5, 151);
}

.chat p {
    padding: 10%;
    color: white;
    text-align: center;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    border-top: 4px;
    border: 3px solid rgb(147, 182, 123);
    margin: 0px 3%;
}

.footer-row {
    padding: 2% 0;
    border: 2px solid rgb(54, 116, 141);
    min-height: 15px;
}

.copyright {
    color: dimgray;
}

ul.ul-footer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: white;
}

/* footer li decoration  --------------------------------------*/

.ul-footer a {
    color: white;
}

.ul-footer li {
    list-style: none;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
    padding: 10px 0px 10px 25px;
}

.ul-footer li:first-child {
    background-image: url("../img/book-icon.png");
}

.ul-footer li:nth-child(2) {
    background-image: url("../img/phone-icon.jpg");
}

.ul-footer li:nth-child(3) {
    background-image: url("../img/email-icon.png");
}

/* -------------------------------------------------------- */

.contact-us {
    background-color: rgb(32, 152, 207);
}

.contact-us p, .contact-us h1 {
    color: white;
    text-align: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: rgb(243, 237, 237);
    justify-content: space-between;
}

.service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 40%;
    min-height: 30%;
    padding: 5% 4% 4% 2%;
    margin: 3% -5% 3% 10%;
    border-radius: 10px;
    background-color: #fff;
}

.service-content {
    margin: auto 2%;
}

.service-content li {
    margin: auto 2%;
}

.long-email {
    word-wrap: break-word;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 30%;
    min-height: 30%;
    padding: 5% 4% 4% 2%;
    margin: 3% 10% 3% 3%;
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 15px 5px #CBD5FF;
    box-shadow: 5px 5px 15px 5px #CBD5FF;
}

.map {
    margin: 1% 0;
    display: flex;
    justify-content: center;
}

iframe {
    width: 100%;
}

/* form decoration*/

.tinyheader {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.form-paragraph {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

.input {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
    min-width: 90%;
    max-width: 100%;
    min-height: 90%;
}

.subbutton {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    min-width: 90%;
    max-width: 100%;
    min-height: 95%;
}

/* ----------- */

/* block container to center and limit width of all content*/

.container {
    max-width: 1000px;
    margin: 0 auto;
}